@model IEnumerable<TodosMVC.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm("Index", "Todos", FormMethod.Post))
{
    <p>
        Tìm kiếm: <input style="width: 280px;" placeholder="Tìm kiếm theo tiêu đề hoặc mô tả" type="text" name="SearchString" />
        <input type="submit" value="Tìm kiếm" />
    </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tiêu đề
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CreatedDate)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <span class="badge bg-success">Hoạt động</span>
                    }
                    else
                    {
                        <span class="badge bg-warning">Không hoạt động</span>
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>